body {
  background-color: black;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

h1 {
  color: yellow;
  margin: 0;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h2 {
  margin-block-start: 2em;
}

main {
  color: hotpink;
  margin: 0;
}

footer {
  color: rgb(75, 243, 75);
  margin: 0;
}